<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<app-empty *ngIf="layout === 'empty'"></app-empty>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with vertical navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Classy-->
<app-classy *ngIf="layout === 'classy'"></app-classy>
